.blueSeparator{
    background-image: url('../../public/blueSeparatorBCG.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:  center;
    margin: 230px 0;

}
.gap-100{
    gap: 100px;
}
.paddingX100{
    padding: 80px 100px;
}
.image-div{
    position: absolute;
   /*  right: 1%;
    top: -30%; */
    
}

.data_text{
    font-family: 'Manrope',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img_container_separator{
    align-self:flex-end;
    height: 100%;
    
}
.separator_img{
    height: 120%;
}
@media (max-width:992px){
    .separator_img{
    object-fit: cover;
    height: 100%;
    }
    .blueSeparator{
    margin: 100px 0;
}
    .image-div{
        position:static;
        
    }
    .paddingX100{
    padding: 64px 23px 50px 23px ; 
}
}