.blueSeparator{
    height: 100%;
    background-image: url('../../public/blueSeparatorBCG.png');
    background-repeat: no-repeat;
    background-size:auto;
    background-position: right center;
    margin: 200px 0;
}
.data{
   padding-right: 10%;
}
.blueSeparator_container{
    overflow: visible;
}
.data_title{
    font-family: "Termina", sans-serif;
}
.data_text{
    font-family: 'Manrope',sans-serif;
}