.equipe_hero{
    font-family: "Termina",sans-serif;
    height: auto;
}
.equipe_hero_text{
    padding-right: 108px;
}
.equipe_title{
    font-size: 56px;
}
.sachel-sign{
    font-family: "Smooch";
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
}
.circle{
    height: 32px;
    width: 32px;
}
.inner-circle{
    width: 16px;
    height: 16px;
}
.line{
    height: 1px;
    width: 40%;
    border: 2px solid #010632;
    opacity: 0.2;
}
.vertical_objectif{
    display: none;
}
.line_vertical{
    height: 86%;
    width: 1px;
    border: 2px solid #010632;
    opacity: 0.2;
}
.objectif_txt{
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.objectif_txt_left{
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.member_desc{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.carousel-section{
    background: linear-gradient(155.76deg, #011F5D 2.03%, #0F2949 87.24%);
}
.temoignage-titre{
    line-height: 24px;
}
.text-temoignage{
    font-family: "Termina",sans-serif;
    font-size: 32px;
}
.temoignage-auteur{
    font-family: "Termina", sans-serif;
}
.romain{
    width: 100%;
}
.borderyellow{
    border-color: #DFDE10;
}
@media (max-width:576px){
    .text-temoignage{
    font-size: 24px;
    }
   .equipe_title{
    font-size: 32px;
}
}
@media (max-width:992px){
    
    .vertical_objectif{
    display: block;
    
    }
    .horizontal_objectif{
        display: none;  
    }
    .equipe_hero_text{
    padding-right: 24px;
    }
}
