.footer_container{
    width: 100%;
    height: 430px;
    padding: 88px 0px 54px 0px;
    gap: 56px;
    text-align: center;
    background: linear-gradient(249.36deg, #0F2949 34.7%, #011F5D 104.23%);
    color: #fff;
    display: flex;
    flex-direction: column;
}
.footer_title{
    font-family: "Termina", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}
.footer_list{
    margin: 0 auto;
    gap: 40px;
}
.footer_container a svg{
    cursor: pointer;
    height: 24px;
}
.heart{
    color: red;
}
.footer_links{
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}
.footer_dev{
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}