.section_container{
    height: 600px;
    width: 100%;
    
}
.img_container{
    overflow: visible;
    height: auto;
    width: 50%;
    align-self:center;
    right: 0;
}
.section_img{
    object-fit: contain;
}
.section_description{
    width: 50%; 
    padding-left:10%;  
}
.section_title{
    font-family: "Termina",sans-serif;
    text-transform: uppercase;
}
.section_text{
    font-family: "Manrope";
    font-size: 16px;
}
.sectionBtn{
    font-family: "Manrope";
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    height: 48px;
    
}
.hidden{
    display: none;
}
.chev-txt{
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 600;
    margin: 0;

}