.nav_bar{
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    height: 72px;
    
}
.logo{
    text-transform: uppercase;
    font-family: "Termina", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.nav_list{
    text-transform: uppercase;
    gap: 40px;
    height: 24px;
}
.nav_link{
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
    color: #010632 !important;
    text-transform: uppercase;
}
.nav_link:hover{
    color: #010632;
}
.cheveron{
    margin-left: 5px;
}
.saison_menu{
    position: absolute;
    left: 50%;
    top: 70px;
    display: flex;
    flex-direction: column;
    width: 156px;
    height:104px;
    padding: 8px;
    gap: 15px;
    box-shadow: 0px 4px 50px 0px #0000001F;
    background-color: #fff;
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    z-index: 100;
}
.hide{
    display: none;
}
.saison_link{
    width: 100%;
    flex:1;
    
}
.saison_link:hover{
    background: #0106321F;
    cursor: pointer;
;
}