* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.alignC {
  display: flex;
  justify-content: center;
  align-items: center;
}

@import url(./layout/Layout.css);
