@font-face {
  font-family: 'Termina-Bold';
  src: url('../public/Termina/TerminaTest-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family:'Termina-Demi';
  src: url('../public/Termina/TerminaTest-Demi.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Termina-Medium';
  src: url('../public/Termina/TerminaTest-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}